form{
    color: blue;
    text-align: center;
}
ul{
    text-align: right;
}
div1{
    background-color: blue;
}
h1{
    text-align: center;
}
.round{
    width: 400px;
    min-width: 100px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid black;
    padding: 5px 25px 5px 25px;
    margin-bottom: 15px;
}
@media (max-width: 599px){
    .round{
        width: 200px;
    }
}   

.Google-Logo-Center{
    text-align:center;
    font-family: Sans-serif;
    font-size: 90px;
    padding: 0px 0px 0px 0px;
}

#wrapper{
    margin: right;
    Width: 1500px;
}

#Advanced-Google-Logo{
    position: relative;
    font-family: Sans-serif;  
}
#Advanced-Header{
    font-family: Sans-serif;
    position: relative;
    left: 50px;
    top: 75px;
}

#Advanced-Header h3{
    margin: 0 0 50px;
    color: red;
    font-weight: normal;

}
#Advanced-Header p{ 
    margin: 0 0 28px;
}
/*#Advanced-Header h5{
    margin-bottom: 32px;
}
*/
/*.Advanced-Search{
    font-family: Sans-serif;
    position: relative;
    left: 25px;
    margin-bottom: 30px;
}
*/
#bar{
    position: relative;   
    padding: 5px 0px 5px 0px;
    right: 200px;
    bottom: 135px;
}

#bar input{
    max-width: 600px;
    min-width: 600px;
    padding: 5px 0px 5px 3px;
}

/*@media (max-width: 1500px){
    #bar input{
        max-width: 20%;
        min-width: 20%;
    }
}
*/

#Advanced-Info{
    color: black;
    font-family: Sans-serif;
    position: relative;
    left: 870px;
    text-align: left;
    bottom: 370px;
}
/*.Advanced-Info{
    font-size: small;
    text-align: left;
    color: black;
    position: relative;
    left: 500px;
    bottom: 17px;
}
*/
#Advanced-Info h5{
    position: relative;
    right: 25px;
    font:bold;
}
#Advanced-Info p{
    margin: 0 0 12px;
    font-size: small;
    position: relative;
    bottom: 25px;
}

#Advanced-Info a1, a2{
    position: relative;
    bottom: 35px;
    font-size: small
}

@media (min-width: 0px) and (max-width: 1800px){
    #Advanced-Info{
        display: block;
    }
}

.search-button{
    position: relative;
    bottom: 270px;
    left: 25px;
    background-color: lightblue;
}
