form{
    color: blue;
    text-align: center;
}
ul{
    text-align: right;
}
div1{
    background-color: blue;
}
h1{
    text-align: center;
}
.round{
    width: 400px;
    min-width: 100px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid black;
    padding: 5px 25px 5px 25px;
    margin-bottom: 15px;
}
@media (max-width: 599px){
    .round{
        width: 200px;
    }
}   
.Google-Logo-Center{
    text-align:center;
    font-family: Sans-serif;
    font-size: 90px;
    padding: 50px 0px 0px 0px;
}

#Advanced-Google-Logo{
    position: relative;
    font-family: Sans-serif;
    float: left;
}
#Advanced-Header{
    font-family: Sans-serif;
    position: relative;
    float: left;
    top: 145px;
    right: 140px;
}
.Advanced-Search{
    font-family: Sans-serif;
    position: relative;
    left: 25px;
    margin-bottom: 30px;
}

#Advanced-Info{
    color: black;
    font-family: Sans-serif;
    position: relative;
    left: 450px;
    bottom: 100px;
    overflow: hidden;
    padding: 3px 5px 5px 50px;
}
.Advanced-Info{
    margin-top: 30px;
    color: black;
    position: relative;
    left: 250px;
    bottom: 50px;
}

p{
    margin: 0 0 10px;
}

#bar > input {
    position: relative;
    top: 145px;
    right: 200px;
    max-width: 600px;
    min-width: 600px;
    padding: 3px 5px 5px 5px;
    margin-bottom: 15px;
    overflow: hidden;
}

@media (max-width: 1000px){
    #bar > input{
        max-width: 40%;
        min-width: 40%;
    }
}

.search-button{
    position: relative;
    top: 150px;
    left: 200px;
    background-color: lightblue;
}
